name: Lighthouse
on: push
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn dependencies
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build
        env:
          NEXT_PUBLIC_API_ENDPOINT: https://api.michigantechcourses.com
          NEXT_PUBLIC_GIT_REVISION: random-sha
          NEXT_PUBLIC_LIGHTHOUSE: "true"

      - name: Serve
        run: |
          yarn start &

      - name: Run Lighthouse against output
        id: lighthouse
        uses: treosh/lighthouse-ci-action@v8
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        with:
          urls: |
            http://localhost:3000/
          configPath: './lighthouserc.json'
          uploadArtifacts: true
          temporaryPublicStorage: true
